@import url('https://fonts.googleapis.com/css?family=Pangolin|Roboto');

body{
  background-color: rgb(252, 0, 0);
}

div p {
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 99%;
    text-align: center;
}

.icon-star-empty {
    background: #e3f930;
    color: black;
}

img {
    width: 100%;
    height: 100%;
    transition: background 2s;
}

#IDh1 h1 {
    border-radius: 3px;
    padding: 5px;
    background-color: rgb(156, 179, 230);
    font-family: 'Pangolin', cursive;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    border: 1px solid black;
    width: 30%;
    margin: auto;
}

div {
    cursor: pointer;
    /*manita*/
    width: 30%;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    background-color: black;
    color: white;
    border-radius: 20px;
    -webkit-box-shadow: -5px 4px 10px 8px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: -5px 4px 10px 8px rgba(0, 0, 0, 0.53);
    box-shadow: -5px 4px 10px 8px rgba(0, 0, 0, 0.53);
}

@media screen and (max-width: 985px) {
    div {
        background-color: black;
        color: white;
        width: 45%;
        -webkit-box-shadow: -5px 4px 10px 8px rgba(0, 0, 0, 0.53);
        -moz-box-shadow: -5px 4px 10px 8px rgba(0, 0, 0, 0.53);
        box-shadow: -5px 4px 10px 8px rgba(0, 0, 0, 0.53);
    }
    #IDh1 h1 {
        width: 20%;
        text-align: center;
        border: 1px solid black;
    }
    img {
        width: 100%;
        height: 100%;
    }
    div p {
        font-family: sans-serif;
        font-style: italic;
        font-weight: bold;
        font-size: 100%;
        text-align: center;
    }
}


/*3475*/

@media screen and (max-width: 785px) {
    div {
        background-color: black;
        color: white;
        width: 90%;
        -webkit-box-shadow: -5px 4px 10px 8px rgba(0, 0, 0, 0.53);
        -moz-box-shadow: -5px 4px 10px 8px rgba(0, 0, 0, 0.53);
        box-shadow: -5px 4px 10px 8px rgba(0, 0, 0, 0.53);
    }
    #IDh1 h1 {
        text-align: center;
        width: 90%;
        border: 1px solid black;
    }
    img {
        width: 100%;
        height: 100%;
    }
    div p {
        font-family: sans-serif;
        font-style: italic;
        font-weight: bold;
        font-size: 100%;
        text-align: center;
    }
}

.burbujas:hover {
    background-image: url("img/burbujas.jpg");
}

.fuego:hover {
    background-image: url("img/fuego.jpg");
}

.planta:hover {
    background-image: url("img/hierba.jpg");
}


/*div:hover{
  border: 2px solid #ccc;
}*/

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltiptext:hover {
    visibility: visible;
}
