@import url('https://fonts.googleapis.com/css?family=Dosis|Fjalla+One|Rajdhani|Varela+Round&display=swap');

$g-font-dosis: 'Dosis', sans-serif;
$g-font-varela: 'Varela Round', sans-serif;
$g-font-fjalla: 'Fjalla One', sans-serif;
$g-font-rajdhani: 'Rajdhani', sans-serif;

$color-background: rgb(252, 252, 236);
$color-gris: rgb(117, 116, 116);
$color-hover-a: rgb(7, 114, 255);
$color-h: rgb(12, 11, 11);