<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Social</title>
	<link rel="stylesheet" href="estilos.css" type="text/css">
	<link rel="stylesheet" href="fonts.css">
</head>

<body>
	<div class="social">
		<ul>
			<li><a href="http://www.facebook.com.mx" title="Facebook" class="icon-facebook"></a></li>
			<li><a href="http://www." title="Twitter" class="icon-twitter"></a></li>
			<li><a href="http://www." title="Ir al ITVer" class="icon-arrow-right"></a></li>
			<li><a href="" class="icon-circle-down" title="Ir abajo"></a></li>
		</ul>
	</div>

<!--
	<footer>
	<li><a href="http://www.google.com.mx" class="icon-google"></a></li>
		<table class="social">
			<td><span><a href="http://www.facebook.com.mx" class="icon-facebook"></a></span></td>
			<td><span><a href="http://www." class="icon-twitter"></a></span></td>
			<td><span><a href="http://www.google.com.mx" class="icon-google"></a></span></td>
			<td><span><a href="http://www." class="icon-pinterest"></a></span></td>
		</table>
	</footer>-->

</body>
</html>